@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EduHome.Models
@model Contact
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="form-group col-md-8">
                <label asp-for="@Model.Name ">Name</label>
                <input type="text" asp-for="@Model.Name" class="form-control" id="Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Email">Email</label>
            <input asp-for="@Model.Email" class="form-control" id="Email" rows="3">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Subject">Subject</label>
            <input asp-for="@Model.Subject" class="form-control" id="Subject" rows="3">
            <span asp-validation-for="@Model.Subject" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Message">Message</label>
            <textarea asp-for="@Model.Message" class="form-control" id="Message" rows="3"></textarea>
            <span asp-validation-for="@Model.Message" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
