@using EduHome.Models
@using EduHome.ViewModels
@model List<Event>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    int count;
    if (ViewBag.SelectedPage == 1)
    {
        count = 0;
    }
    else
    {
        count = (ViewBag.SelectedPage - 1) * 8;
    }
}
@{
    int totalPage = (int)ViewBag.TotalPageCount;
    int selectedPage = (int)ViewBag.SelectedPage;
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-action="detail" asp-controller="event" asp-route-id="@item.Id">
                                <img src="~/uploads/event/@item.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.StartTime.ToString("dd") <span>@item.StartTime.ToString("MMM")</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-action="detail" asp-controller="event" asp-route-id="@item.Id">@item.Name</a></h4>
                            <ul>
                                <li><span>time:</span>@item.StartTime.ToString("HH mm tt") - @item.EndTime.ToString("HH mm tt")</li>
                                <li><span>venue:</span> @item.City</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="detail" asp-controller="event" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" asp-route-page="1">ilk</a></li>
                <li class="page-item">
                    <a class="page-link" asp-route-page="@(ViewBag.SelectedPage>1?ViewBag.SelectedPage-1:1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @{
                    int b;
                    int s;
                }
                @if (selectedPage == 1)
                {
                    b = 1;
                    if (totalPage >= 3)
                    {
                        s = 3;

                    }
                    else
                    {
                        s = totalPage;
                    }
                }
                else if (selectedPage == totalPage)
                {
                    if (totalPage - 2 > 0)
                    {
                        b = totalPage - 2;

                    }
                    else if (totalPage - 1 > 0)
                    {
                        b = totalPage - 1;

                    }
                    else
                    {
                        b = totalPage;
                    }
                    s = totalPage;
                }
                else
                {
                    b = selectedPage - 1;
                    s = selectedPage + 1;
                }
                @for (int i = b; i <= s; i++)
                {
                    <li class="page-item"><a class="page-link" asp-route-page="@i" style="@(i==selectedPage?"background-color:blue;color:white;":"")">@i</a></li>

                }
                <li class="page-item">
                    <a class="page-link" asp-route-page="@(ViewBag.SelectedPage<ViewBag.TotalPageCount?ViewBag.SelectedPage+1:ViewBag.TotalPageCount)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" asp-route-page="@ViewBag.TotalPageCount">son</a></li>
            </ul>
        </nav>

    </div>
</div>
<!-- Event End -->
