@using EduHome.Models
@model Course
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    List<Category> categories = (List<Category>)ViewBag.Categories;
    List<Teacher> teachers = (List<Teacher>)ViewBag.Teachers;
    List<Tag> tags = (List<Tag>)ViewBag.Tags;
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Price">Price</label>
            <input type="text" asp-for="@Model.Price" class="form-control" id="Price" placeholder="Price">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Context">Context</label>
            <textarea asp-for="@Model.Context" class="form-control" id="Subtitle" rows="3"></textarea>
            <span asp-validation-for="@Model.Context" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.About">About</label>
            <input asp-for="@Model.About" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.About" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.HowToApply">HowToApply</label>
            <input asp-for="@Model.HowToApply" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.HowToApply" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Certification">Certification</label>
            <input asp-for="@Model.Certification" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.Certification" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.CategoryId">Category</label>
            <select class="form-control" asp-for="@Model.CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.TeacherId">Teacher</label>
            <select class="form-control" asp-for="@Model.TeacherId" asp-items="@(new SelectList(teachers,"Id","FullName"))">
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.TagIds">Tags</label>
            @*<select class="form-control" asp-for="@Model.TagIds" asp-items="@(new SelectList(tags,"Id","Name"))">
            </select>*@
            <select class="form-control" asp-for="@Model.TagIds">
                @if (tags != null)
                {
                    @foreach (var item in tags)
                    {
                        if (Model.CourseTags.Any(x => x.TagId == item.Id))
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageFile">ImageFile</label>
            <input asp-for="@Model.ImageFile" class="form-control col-md-2" rows="3">
            <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
        </div>
        <div class="img-box" style="position:relative;max-width:200px;background-color:black;width:200px;height:200px;max-height:200px;">
            <img class="d-block" src="~/uploads/course/@Model.Image" style="max-width:180px;width:180px;height:180px;max-height:180px;margin-left:10px;padding-top:20px" />
            <i class="fas fa-times remove-img-box" style="color:red;position:absolute;cursor:pointer;right:4px;top:2px;font-size:17px"></i>
            <input type="hidden" name="OverImage" value="@Model.Image" />
        </div>



        <div class="form-row col-12" id="features">
            @{ int count = 0;
                @foreach (var item in Model.Features)
                {
                    <div class="form-group col-12">
                        <label for="featureName">Feature name</label>
                        <input name="Features[@count].Name" type="text" value="@item.Name" class="silecem" />
                        <span class="text-danger"></span>

                        <label for="featureValue"> Feature Value</label>
                        <input name="Features[@count].Value" type="text" value="@item.Value" class="silecem" />
                        <span class="text-danger"></span>
                        <span><i class="fas fa-minus delete-feature"> </i></span>

                    </div>
                    count++;
                }
            }
        </div>

        <div class="form-row justify-content-center">
            <div class="form-group">
                <button data-nextIndex="@Model.Features.Count()" class="add-feature btn btn-primary">+</button>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".add-feature", function (e) {
                e.preventDefault();

                var nextIndex = $(this).attr("data-nextIndex");

                var inputGroup = ` <div class="form-group col-12" data-index="0">
                <label for="featureName">Feature name</label>
                <input name="Features[`+ nextIndex + `].Name" type="text" />
                <span class="text-danger"></span>

                <label for="featureValue"> Feature value</label>
                <input name="Features[`+ nextIndex + `].Value" type="text" />
                <span class="text-danger"></span>
                <span><i class="fas fa-minus delete-feature"> </i></span>
            </div>`

                $("#features").append($(inputGroup))

                nextIndex = +nextIndex + 1;
                console.log(nextIndex)

                $(this).attr("data-nextIndex", nextIndex)
            })

            //$(document).on("click", ".delete-feature", function (e) {
            //    e.preventDefault();
            //    console.log("test");

            //    $(this).parents(".form-group").empty();
            //})
        })

        for (var i = 0; i < document.getElementsByClassName("delete-feature").length; i++) {

            document.getElementsByClassName("delete-feature")[i].onclick = function (e) {
                e.preventDefault();
                this.parentElement.parentElement.innerHTML = null;
                console.log("salam qaqa");
                for (var z = 0; z < document.getElementsByClassName("silecem").length; z += 2) {
                    var count = 0;
                    for (var t = 0; t < 2; t++) {
                        var name = "Features[" + (z / 2) + "].Name";
                        var value = "Features[" + (z / 2) + "].Value";
                        document.getElementsByClassName("silecem")[z].setAttribute("name", name);
                        document.getElementsByClassName("silecem")[z + 1].setAttribute("name", value);
                        count++;
                    }
                }
            }
        }

    </script>
}